.block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--vscode-editorError-foreground);

    border: 2px solid;
    border-radius: 4px;
    padding: 8px;

    display: flex;
    flex-direction: column;

}
