.block {
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-foreground);
}

/**
 *  The Topbar
 */

.block :global .graphiql-container .editorWrap .topBar {
    background: var(--vscode-editor-background);
    border-bottom: 1px solid var(--vscode-editorGroup-border);
    color: var(--vscode-foreground);
}

.block :global .graphiql-container .editorWrap .docExplorerShow {
    background: var(--vscode-editor-background);
    border-bottom: 1px solid var(--vscode-editorGroup-border);
    color: var(--vscode-foreground);
}

.block :global .graphiql-container .editorWrap .docExplorerShow:before {
    color: var(--vscode-foreground);
    border-color: currentColor;
}

.block :global .graphiql-container .editorWrap .topBar .toolbar-button {
    color: var(--vscode-foreground);
    background: inherit;
    border: 1px solid var(--vscode-foreground);
    ;
    box-shadow: none;
}

.block :global .graphiql-container .execute-button {
    border: 1px solid var(--vscode-foreground);
    background: var(--vscode-editor-background);
    box-shadow: none;
    fill: var(--vscode-foreground);
}

/**
 * Generic Panels
 */
.block :global .docExplorerWrap {
    color: var(--vscode-foreground);
    box-shadow: none;
}

.block :global .docExplorerResizer {
    border-left: 2px solid var(--vscode-editorGroup-border);
    background-color: var(--vscode-editor-background);
}

.block :global .doc-explorer-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 34px;
    line-height: 14px;
    padding: 8px 8px 5px;

    color: inherit;
    font-family: inherit;

}

.block :global .doc-explorer-title-bar .doc-explorer-title {
    font-weight: bold;
    justify-content: start;
    display: flex;
    font-family: inherit;
}


.block :global .doc-explorer-title-bar .doc-explorer-back {
    background: var(--vscode-editor-background);
    border-right: 1px solid var(--vscode-editorGroup-border);
    color: var(--vscode-foreground);
}

.block :global .doc-explorer-title-bar .doc-explorer-back:before {
    color: var(--vscode-foreground);
    border-color: currentColor;
}

.block :global .doc-explorer-title-bar .doc-explorer-rhs button {
    padding: 0;
    margin: 0;
    color: inherit;
}

.block :global .doc-explorer-title-bar .doc-explorer-rhs {
    cursor: pointer;

    border: 0;
    background: 0;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: normal;
    color: var(--vscode-tab-activeForeground);
}

.block :global .doc-explorer-title-bar .doc-explorer-rhs:hover {

    background: var(--vscode-toolbar-hoverBackground)
}

.block :global .doc-explorer-contents {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border-top: 1px solid var(--vscode-editorGroup-border);
    height: calc(100% - 50px);
}

.block :global .graphiql-explorer-root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.block :global .graphiql-explorer-root div:nth-child(1) {}

.block :global .graphiql-explorer-root div:nth-child(2) {
    flex-grow: 1;
}

.block :global .doc-explorer-contents .graphiql-explorer-actions {
    border-top-color: var(--vscode-editorGroup-border) !important;
}

.block :global .doc-explorer-contents .graphiql-explorer-actions .toolbar-button {
    color: var(--vscode-foreground);
    background: inherit !important;
    border: 1px solid var(--vscode-foreground);
    ;
    box-shadow: none;
}

.block :global .doc-explorer-contents .graphiql-explorer-actions select {
    margin: 8px;
    padding: 4px 8px;
    display: flex;
    flex-grow: 1;
    width: 100% !important;
    color: var(--vscode-input-foreground) !important;
    background-color: var(--vscode-input-background) !important;
    border-color: var(--vscode-input-border) !important;
    border-width: 1px;
    border-style: solid;
}

.block :global .doc-explorer-contents [aria-hidden=true] {
    display: none;
}

.block :global .doc-explorer-contents .search-box {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 16px;
}

.block :global .doc-explorer-contents .search-box:before {
    top: 50%;
    transform: translate3d(5px, -50%, 0) rotate(-45deg);
}

.block :global .doc-explorer-contents .search-box input {
    padding: 8px 24px 8px 28px;

    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border-color: var(--vscode-input-border);
    border-width: 1px;
    border-style: solid;

}

.block :global .doc-explorer-contents .doc-type-description {
    color: inherit;
}

.block :global .doc-explorer-contents .linenumber {
    color: var(--vscode-editorLineNumber-foreground);
}

.block :global .doc-explorer-contents .doc-category-item .keyword {
    color: var(--vscode-symbolIcon-keywordForeground);
}

.block :global .doc-explorer-contents .doc-category-item .field-name {
    color: var(--vscode-symbolIcon-functionForeground);
}

.block :global .doc-explorer-contents .doc-category-item .type-name {
    color: var(--vscode-symbolIcon-keywordForeground);
}

.block :global .doc-explorer-contents .doc-category-item .arg-name {
    color: var(--vscode-symbolIcon-stringForeground);
}

/**
 *  The Schema Explorer
 */
.explorer {
    font-family: var(--vscode-font-family);

    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--vscode-editorGroup-border);
    background: var(--vscode-editor-background);

    color: inherit;
}

.explorer :global .graphiql-operation-title-bar {
    color: inherit !important;
    background: inherit !important;
    display: flex;
    align-items: center;
}

.explorer :global .graphiql-operation-title-bar span {
    flex-grow: 1;
}

.explorer :global .graphiql-operation-title-bar input {
    padding: 8px;
    display: flex;
    flex-grow: 1;
    width: 100% !important;
    color: var(--vscode-input-foreground) !important;
    background-color: var(--vscode-input-background) !important;
    border-color: var(--vscode-input-border) !important;
    border-width: 1px;
    border-style: solid;
}

.explorer :global .graphiql-explorer-node svg path {
    fill: var(--vscode-foreground);
}

.explorer :global .graphiql-explorer-field-view {
    color: var(--vscode-symbolIcon-variableForeground) !important;
}

.explorer :global .graphiql-explorer-graphql-arguments span {
    color: var(--vscode-symbolIcon-typeParameterForeground) !important;
}

.explorer :global .graphiql-explorer-graphql-arguments input[type=text] {
    color: var(--vscode-input-foreground) !important;
    background-color: var(--vscode-input-background) !important;
    border-color: var(--vscode-input-border) !important;
    border-width: 1px;
    border-style: solid;
}

.explorer :global .graphiql-explorer-graphql-arguments button[type=submit] {
    cursor: pointer;
    padding: 8px;
    color: var(--vscode-button-foreground) !important;
    background-color: var(--vscode-button-background) !important;
    border: none;
}

/**
 *  The Query Editor
 */
.block :global .CodeMirror,
.block :global .CodeMirror-gutters,
.block :global .result-window .CodeMirror-gutters {
    background: var(--vscode-editorGutter-background) !important;
    border-color: var(--vscode-editorGroup-border);
    color: inherit;
}

.block :global .CodeMirror-linenumber {
    color: var(--vscode-editorLineNumber-foreground);
}

.block :global .CodeMirror .cm-keyword {
    color: var(--vscode-symbolIcon-keywordForeground);
}

.block :global .CodeMirror .cm-def {
    color: var(--vscode-symbolIcon-functionForeground);
}

.block :global .CodeMirror .cm-punctuation {
    color: var(--vscode-symbolIcon-keywordForeground);
}

.block :global .CodeMirror .cm-property {
    color: var(--vscode-symbolIcon-keywordForeground);
}

.block :global .CodeMirror .cm-string {
    color: var(--vscode-symbolIcon-stringForeground);
}

.block :global .CodeMirror-matchingbracket {
    color: var(--vscode-symbolIcon-keywordForeground);
    background-color: var(--vscode-editorBracketMatch-background);
}

.block :global .CodeMirror-lint-mark.CodeMirror-lint-mark-error {
    color: var(--vscode-editorError-foreground);
    background-image: none;
}

.block :global .graphiql-container .variable-editor-title {
    color: var(--vscode-foreground);
    border-bottom: 1px solid var(--vscode-editorGroup-border);
    border-top: 1px solid var(--vscode-editorGroup-border);
    background-color: var(--vscode-input-background) !important;
}

.block :global .graphiql-container .variable-editor-title-text {
    color: inherit;
}

/**
 *  The Response
 */
.block :global .resultWrap {
    border-color: 1px solid var(--vscode-editorGroup-border);
}


/**
 * Document Explorer
 */

.block :global .docExplorerWrap,
.block :global .docExplorerWrap .doc-explorer {
    background: none;
}
