.block {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background: var(--vscode-editor-background);
    position: relative;
    border-right: 1px solid var(--vscode-editorGroup-border);
    min-width: 320px;
    z-index: 100;
}
.header {
    display: flex;
    flex-direction: row;
    height: 34px;
    line-height: 14px;
    padding: 8px 8px 5px;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px 0 10px 10px;
    padding: 0;
    margin: 0;
}
.close {
    background: 0;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.close:hover {
    font-weight: bold;
}
.form {
    border-top: 1px solid var(--vscode-editorGroup-border);

    padding: 10px;
    display: flex;
    flex-direction: column;
}
.input {
    padding: 8px;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border-color: var(--vscode-input-border);
    border-width: 1px;
    border-style: solid;
}
.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
}
.fieldWithError .input { border-width: 2px;}
.fieldErrorMessage {
    font-size: 12px;
    font-weight: bold;
}
.label {
    margin-right: 22px;
    padding-bottom: 4px;
}
.button {
    cursor: pointer;
    padding: 8px;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border: none;
}
.button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
